<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head') %>
  </head>
  
  <body>
    <%- include('../partials/header')%>
    <h1>Eliminar Producto </h1>
    <h4>Estas por borrar este producto : <%= product.Nombre %></h4>
    <p>
        <form action="/products/delete/<%= product.Id %>?_method=DELETE" method="POST">
            <br>
            <div> 
                <button class="botonBorrar" type="submit">Borrar el Producto</button>
            </div>
            <div>
                <a href="/products/list">Listado de Productos</a>
            </div>
        </form>
    </p>
    <%- include('../partials/footer') %>
</body>

</html>