<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/delete-product.css" />
</head>
  
  <body>
    <%- include('../partials/header')%>

    <h1>Eliminar Producto </h1>
    <div class="delete-product">
        <h2> <%= product.Nombre %></h2>
     <p>
        <form action="/products/delete/<%= product.Id %>?_method=DELETE" method="POST">
            <br>
            <div> 
                <button class="botonBorrar" type="submit">Eliminar Producto</button>
            </div>
            <br>
            <div>
                <a href="/products/list">Listado de Productos</a>
            </div>
        </form>
     </p>
    </div>
    
    <%- include('../partials/footer') %>
</body>

</html>