<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/list.css" />
  </head>

<body>
 
 <%- include("../partials/header") %>

 <div class="ps-content">

   <h1>Listado de productos:</h1>

   <section class="menu-wrap">
     <% products.forEach(function(products) { %>
       <a href="/products/detail/<%= products.Id %>">
         <article>
           <div class="img-container">
             <img src="/imagenes/<%= products.Imagen %>" alt=" <%= products.Nombre %>">
           </div>
           <div class="detail-product">
            <p>Información del prodúcto:</p>
            <ul>
              <li>
                  Nombre: <%= products.Nombre %>
              </li>
              <li>
                  Descripción: <%= products.Descripcion %>
              </li>
              <li>
                Marca:  <%= products.Marca %>
              </li>
              <li>
                Color:  <%= products.Color %>
              </li>
              <li>
                Precio:  <%= products.Precio %>
              </li>
            </ul>
           </div>
           
         </article>
       </a>
     <% }) %>
 
   </section>
       <a href="/products/create" class="button">
      <button>Añadir Producto</button>
      </a>
 </div>

 <%- include("../partials/footer") %> 
</body>
</html>
