<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/list.css" />
  </head>

<body>
 
 <%- include("../partials/header") %>

 <div class="ps-content">

   <h1>listado de productos:</h1>

   <section class="menu-wrap">
     <% products.forEach(function(products) { %>
       <a href="/products/detail/<%= products.Id %>">
         <article>
           <div class="img-container">
             <img src="/imagenes/<%= products.Imagen %>" alt=" <%= products.Nombre %>">
           </div>
           <p>informacion del producto:</p>
           <ul>
             <li>
                Nombre: <%= products.Nombre %>
             </li>
             <li>
                Descripcion: <%= products.Descripcion %>
             </li>
             <li>
                Marca:  <%= products.Marca %>
             </li>
             <li>
                Color:  <%= products.Color %>
            </li>
            <li>
                Precio:  <%= products.Precio %>
            </li>
           </ul>
         </article>
       </a>
     <% }) %>
         
   </section>
 </div>

 <%- include("../partials/footer") %> 
</body>
</html>
