<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/edit.css" />
  </head>
<body>
  <%- include('../partials/header')%>
<h2>Formulario de Edición de Producto</h2>

<form action="/products/edit<%= productFound.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
  <label for="pid">Nombre del Producto:</label>
  <input type="text" id="id" name="id">
  <label for="pname">Nombre del Producto:</label>
  <input type="text" id="pname" name="name" value="<%= productFound.name  %>">
  <label for="pdesc">Descripción del Producto:</label>
  <input type="text" id="pdesc" name="description"><%= productFound.description  %>
  <label for="image">Imagen:</label>
  <input type="file" name="image" value="<%=  productFound.image %>">
  <label for="pprice">Precio del Producto:</label>
  <input type="text" id="pprice" name="price" value="<%=  productFound.price %>">
  <input type="submit" value="Actualizar">
</form> 
<%- include('../partials/footer')%>
</body>
</html>
