<!DOCTYPE html>
<html>
<body>
 
 <%- include("../partials/header") %>

 <div class="ps-content">

   <h1>listado de productos:</h1>

   <section class="menu-wrap">
     <% products.forEach(function(product) { %>
       <a href="/product/detail/<%= product.id %>">
         <article>
           <div class="img-container">
             <img src="/imagenes//<%= product.image %>" alt="plato">
           </div>
           <p>informacion del producto:</p>
           <ul>
             <li>
                 Nombre: <%= product.name %>
             </li>
             <li>
                 Descripcion: <%= product.discont %>
             </li>
             <li>
                 Precio:  <%= product.price %>
             </li>
           </ul>
         </article>
       </a>
     <% }) %>
         
   </section>
 </div>

 <%- include("../partials/footer") %> 
</body>
</html>
