<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/productdetail.css" />
    <title>Detalles del producto</title>
</head>
<body>
    <%- include('../partials/header') %>
    <a href="/products/detail"></a>
    <h3>Detalle de Producto</h3>
    <div class="product-detail">
        <img src="/imagenes/destacado1.jpg" alt="Imagen del producto" class="product-detail__img">
        <div class="product-detail__info">
            <p class="product-detail__title"><%= product.name %></p>
            <p class="product-detail__description"><%= product.description %></p>
            <span class="product-detail__price">$<%= product.price %></span>
            <a href="/productcart"></a>
            <button class="product-detail__add-to-cart">Añadir al carrito</button>
            <a href="/products/edit/<%= product.id %>" class="">
              <button>Editar productos</button>
            </a>
        </div>
    </div>
    <%- include('../partials/footer') %>
</body>
</html>
